<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<appSettings>
		<add key ="_PlatCategoryFilepath" value ="C:\Users\Intern\Desktop\Installer sample\WindowsFormsApp2\WindowsFormsApp2\CategoryProvider\Categories.xml"/>
		<add key ="_QBMappingspath"  value ="C:\Users\Intern\Desktop\Installer sample\WindowsFormsApp2\WindowsFormsApp2\CategoryProvider\AccountMappings.xml"/>
		<add key ="_QBAccountCodePath" value ="C:\Users\Intern\Desktop\Installer sample\WindowsFormsApp2\WindowsFormsApp2\MappingProvider\AccountCodeMappings.xml"/>
		<add key ="_QBAccountPath"  value ="C:\Users\Intern\Desktop\Installer sample\WindowsFormsApp2\WindowsFormsApp2\MappingProvider\AccountPathMappings.xml"/>
	</appSettings>
	
</configuration>
